@{
    ViewData["Title"] = "Ювелириные изделия";
}

<div class="home-container">
    <div>
        <img src="~/images/jewelry1.jpg" class="home-image">
    </div>
    <div>
        <img src="~/images/jewelry2.jpg" class="home-image">
    </div>
    <div class="home-text">
        <p class="home-title">ELEGANT JEWELRY</p>
        <a href="/Products" class="home-button">К каталогу</a>
    </div>
</div>